<mat-grid-list cols="2">
  <mat-grid-tile>

      <mat-card style="width: 100%; height: 100%; padding: 0px; margin: 0px">
        <button mat-button style="width: 100%; height: 100%; margin: 0px ">

        <mat-card-content style="width: 100%; height: 100% ">




        </mat-card-content>

        </button>
      </mat-card>

  </mat-grid-tile>
  <mat-grid-tile>

      <mat-card style="width: 100%; height: 100%; padding: 0px; margin: 0px">
        <button mat-button style="width: 100%; height: 100%; margin: 0px ">

        <mat-card-content style="width: 100%; height: 100% ">




        </mat-card-content>

        </button>
      </mat-card>

  </mat-grid-tile>
</mat-grid-list>
