<mat-grid-list cols="1"  fxHide.gt-xs="true">
  <mat-grid-tile>

      <mat-card style="width: 100%; height: 100%;  ">
        <!--<button mat-button style="width: 100%; height: 100%; margin: 0px ">-->

        <mat-card-content style="width: 100%; height: 100% ">

          <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
            <div><h1>About the App</h1>
              <h2>
                This app uses GPS and Compass data to plot your location & orientation on a map.<br>
                With a point and click you can register a hit on your target.
              </h2>
            </div>
          </div>


        </mat-card-content>

        <!--</button>-->
      </mat-card>

  </mat-grid-tile>

</mat-grid-list>


<mat-grid-list cols="1" rowHeight="25rem" fxHide.xs="true">
  <mat-grid-tile>

      <mat-card style="width: 100%; height: 100%;  ">
        <!--<button mat-button style="width: 100%; height: 100%; margin: 0px ">-->

        <mat-card-content  style="width: 100%; height: 100% ">

          <div style="display: flex; justify-content: center; align-items: center; width: 100%; height: 100%">
            <div><h1>About the App</h1>
              <h2>
                This app uses your phones GPS and Compass data to plot your location & orientation on a map.<br>
                With a point and click you can register a hit on your target.
              </h2>
            </div>
          </div>


        </mat-card-content>

        <!--</button>-->
      </mat-card>

  </mat-grid-tile>

</mat-grid-list>
